*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../Portfolio/background.jpg);
    background-size: cover;
    background-position: center;
    
}
.nav-bar{
    background-color: skyblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.nav-items {
    
    display: flex;
padding: 10px 20px;
list-style: none;
margin-right: 50px;

}
.nav-items li{
    padding: 0px 15px;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.7s;
    
    
}
.nav-items li:hover{
    color: azure;
}
.logo{
    color: rgb(12, 12, 0);
    text-shadow: aquamarine;
    font-size: 28px;
    text-transform: capitalize;
    cursor: pointer;
    margin-left: 20px;
}
span{
    color: brown;
}
.content{
   position: absolute;
   top: 40%;
   left: 8%;
    
}
.content h1{
color: rgb(111, 77, 235);
margin: 20px 0px 20px;
font-size: 3.5rem;
}
h4{
    font-size: 30px;
    letter-spacing: 2px;
}
h3{
    font-size: 25px;
    margin-bottom: 50px;
}