*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 

nav{
    position: fixed;
    background-color: skyblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 10px  10px 20px gray;
    width: 100%;
   z-index: 999;
}

/* .nav-bar{
    
} */
.nav-items {
    
display: flex;
padding: 10px 20px;
list-style: none;


}
.nav-items li{
    padding: 0px 15px;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.7s;
    
}
.nav-items li:hover{
    color: azure;
}
.logo{
    color: rgb(12, 12, 0);
    text-shadow: aquamarine;
    font-size: 28px;
    text-transform: capitalize;
    cursor: pointer;
    
}
.logo span{
    color: brown;
}
/* .content{
   position: absolute;
   top: 30%;
   left: 8%;
    display: flex;
    align-items: center;
} */
/*.content h1{
color: rgb(111, 77, 235);
margin: 20px 0px 20px;
font-size: 3.5rem;
}*/
.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 20px 0px;
    
}
.content h4 span{
    font-size: 3rem;
    color: aqua;
}
.content h4{
    font-size: 30px;
    letter-spacing: 2px;
}
.content h3{
    font-size: 30px;
     margin-bottom: 50px; 
     
}
.content img{
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
   
}
.button{
    border-radius: 50px;
    background-color: rosybrown;
    padding: 20px 20px;
    border: none;
    margin-left: 15px;
    
}
.button span{
    color:black;
    transition: 0.6s;
   
}
.button span:hover{
    color: white;
} 
.button:active {
  background-color: #ff3c1e;
  box-shadow: 0 5px rgb(232, 227, 227);
  transform: translateY(4px);
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 251, 251);
}
.about img{
    height: 30rem;
    width:30rem;
    margin: 0px 40px;
}
.me {
    padding: 50px 20px;
    margin: 0rem 10rem;
}
.me h3{
    font-size: 20px;
}
  .skills h1{
 margin:3rem 0rem; 
 margin-top: 4rem;

}
.skills img{
    margin: 0rem auto;
    height: 6rem; 
    margin-bottom: 6rem; 
} 
.skills{
    align-items: center;
    text-align: center;
}
  .icons img{
    /* height: 6rem; */
    width: 5rem;
    margin-bottom: 3rem;
     
} 
.icons{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    text-align: center;
    
}
.icon2 img{
    margin-bottom: 3rem;
    /* height: 6rem; */
    width: 5rem;
     
}
 .icons h3,p{
    font-size: 20px;
    margin-top: 1rem;
    
}
.icon2 h3,p{
    margin-top: 1rem;
    font-size: 20px;
    
}  
 .contact{
     /* align-items: center;  */
    text-align: center;
    margin-top: 5rem;
}
 /* .contact-me{
    display: flex;
    flex-direction: row;
    margin: 0rem 10rem 2rem 40rem;
}  */
.info{
font-size: 10px;
text-align: center;
margin-bottom: 2rem;
color: gray;
} 